.top-banner {
    background-image: url(/public/banner.jpg);
    opacity: 0.9;
    height: 300px;
    color: #ffffff;
    font-size: 35px;
    margin: 25px;
    padding: 25px;
}


.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 25px;
}



/* -----------------
    Media Queries
------------------*/

/* Mobile Devices */

@media only screen and (max-width:688px) {

    /* .container {
        width: 100%;
    } */
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

}



/* Tablet Devices */
@media only screen and (min-width:688px) and (max-width: 992px) {

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}